*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: rgb(36, 36, 36);
}

.nav-list {
    font-size: 0;
    background-color: rgb(139, 139, 139);
    text-align: center;
}

.list-item {
    display: inline-block;
    font-size: 16px;
    position: relative;
    background-color: rgb(139, 139, 139);
    padding: 10px;
    text-align: center;
}

.link {
    padding: 10px;
    color: white;
    text-decoration: none;
    width: 100%;
}

.list-item:hover{
    background-color: rgb(112, 112, 112);
}

.sub-nav-list {
    display: none;
   
}
.sub-nav-list-tutorials{
    display: none;
}
.sub-nav-list-Other{
    display: none;
}
.list-item:hover > .sub-nav-list {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

.sub-list-item:hover > .sub-nav-list-tutorials {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    
}
.sub-list-item:hover > .sub-nav-list-Other {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 130px
}
.sub-list-item {
    display: block;
    padding: 10px;
    background-color: rgb(139, 139, 139);

}
.content{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}
.header{
    color: white;
    font-size: 40px;
}
.paragraph{
    border: 2px solid white;
    color: white;
    font-size: 25px;
}
.paragraph::first-letter{
    font-size: 32px;
    color: chartreuse;
}
.paragraph::after{
    content:'<<<';
    background-color: aqua;
}
.paragraph::before{
    content:'>>>';
    background-color: aqua;
}

.licontent{
    list-style: none;
    padding-top: 30px;
    color: white;
    font-size: 35pdx
}
.licontent::before{
    content:'';
display: inline-block;
background-image: url('../img/itsme.JPG');
background-size: contain;
width: 10px;
height: 10px;

}

